<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastramentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="center">
    <ion-item>
      <ion-label position="stacked">Produto</ion-label>
      <ion-input placeholder="Produto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Validade</ion-label>
      <ion-input placeholder="Validade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valor estipulado</ion-label>
      <ion-input placeholder="Valor"></ion-input>
    </ion-item>


  <ion-card>
    <ion-button fill="dark" routerLink="/cadastrou">Registrar</ion-button>
  </ion-card>

  </ion-card>
</ion-content>
